@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <h2 class="fw-bolder"> Welcome To 
            <span class="text-danger">CarShop</span>
        </h2>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <AuthorizeView>
                        <Authorized>
                             
                            <span> You are logged  as <b>@context.User.Identity.Name</b></span>
                        </Authorized>
                        <NotAuthorized>
                            <span> You aren't logged </span>
                        </NotAuthorized>
                    </AuthorizeView>

                </div>
            </div>
        </div>

    </div>
</div>